@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

h1 {
  text-align: center;
  font-size: 3rem;
  text-decoration-color: white;
  text-decoration-thickness: 10px;
}

head {
  height: 0;
  width: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  min-width: 100%;
  max-height: auto;
  max-width: auto;
  background: url("./assets/background.jpg") repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

header {
  position: fixed;
  top: 2px;
  left: 0;
  width: 100svw;
  height: 15svh;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 99;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  backdrop-filter: blur(10px);
  border-radius: 60px;
}

.navigation .btnLogin-popup,
.btnnavbar {
  width: 8rem;
  height: 2.7rem;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  color: white;
  transition: 0.75s;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.navigation .btnLogin-popup:hover,
.btnnavbar:hover {
  background: white;
  color: #162938;
  text-decoration: none;
}

.btnhome {
  width: 8rem;
  height: 3rem;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  color: white;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.75s;
}

.btnhome:hover {
  background: white;
  color: #162938;
}
.btnselect {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2em;
  color: white;
  font-weight: 500;
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.75s;
  text-decoration: none;
}

.btnselect:hover {
  background: white;
  color: #162938;
  text-decoration: none;
}

.nav {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  flex: 3;
  align-content: flex-end;
}
.prenav {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  flex: 3;
  align-content: flex-start;
}

.navigation {
  width: 100%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: left;
}

.logo {
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 5px;
  padding: 10px;
  flex: 1;
}

.selectmenu {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  justify-items: flex-start;
  text-decoration: none;
  margin: 0%;
  padding: 0%;
}

.selectmenu a,
.selectmenu a:hover {
  width: 80%;
  height: 100%;
  margin-inline: 0.5%;
  text-decoration: none;
}

form {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrcomplaints {
  width: 80%;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: height 0.2s ease;
  margin-top: 12rem;
  margin-bottom: 8rem;
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.wr {
  height: 100%;
  width: 60%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: height 0.2s ease;
  margin-top: 10rem;
  margin-bottom: 8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 100%;
  width: 80%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.wrapperpdetails {
  height: auto;
  width: 80%;
}
.wrappercomplaints {
  height: 100%;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.wrappercomplaints p {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.wrapper.active {
  height: auto; /* Adjust this value according to your requirements */
  width: auto;
}

.wrapper .form-box {
  width: 100%;
  margin: 0;
}

.formh2 {
  padding-bottom: 20px;
  padding-top: 2%;
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration-color: white;
  text-decoration-thickness: 5px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  border-bottom: 2px solid black;
  margin: 20px;
  margin-inline: 15%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.input-row {
  display: flex;
}

.input-half {
  flex: 1;
  margin-right: 10px; /* Adjust this value as needed for spacing between inputs */
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s ease-in-out;
  opacity: 0.75;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -5px;
  color: white;
  opacity: 1;
  font-size: 1.2em;
  margin-top: -10px;
}

.input-box input {
  width: calc(100% - 40px); /* Adjust this value as needed for padding */
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #d4d4d4;
  font-weight: 600;
  padding: 0px 35px 0 10px;
}

.input-box .icon {
  position: absolute;
  right: 18px;
  font-size: 1.2em;
  color: #d4d4d4;
  line-height: 57px;
  filter: invert(1);
}

.btn {
  width: 100%;
  height: 3rem;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  border-radius: 30px;
  margin-bottom: 2%;
  margin-inline: 30%;
  margin-top: 20px;
}

.btn:hover {
  text-decoration: underline;
  color: white;
  background-color: green;
  width: 80%;
}

.login-register {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register a {
  color: yellow;
  text-decoration: none;
  font-weight: 600;
  padding-left: 10px;
}

.login-register p {
  color: white;
  text-decoration: none;
  font-weight: 600;
  justify-content: space-between;
}

.login-register p a:hover {
  text-decoration: underline;
}

.err {
  background-color: red;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.phomeh1 {
  width: 80%;
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.phome {
  margin: 20px;
  width: 100%;
  height: fit-content;
  text-align: justify;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hlist {
  list-style: none;
  margin: 5px;
  padding: 5px;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 50rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.pdetails {
  width: 100%;
  padding-inline: 1rem;
  font-size: 2rem;
  justify-content: left;
  justify-items: left;
  align-items: flex-start;
  align-content: flex-start;
}

table {
  font-size: 1.2rem;
  border: 1px solid white;
  padding: 0px;
  margin: 0px;
  margin-top: 2%;
  margin-bottom: 2%;
}

td,
th {
  border: 1px solid white;
  width: auto;
  height: 50px;
  text-align: center;
  padding-inline: 20px;
}

.ptable {
  width: 100%;
  height: auto;
  border: none;
}
.tdpdetails {
  width: 70%;
  height: auto;
  text-align: left;
  padding-inline: 8px;
  border: none;
}

.thpdetails {
  width: 35%;
  height: auto;
  text-align: left;
  border: none;
}

.pcolon {
  width: 0%;
  height: auto;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  header {
    padding: 30px;
    width: 100%;
    height: auto;
  }
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: auto;
    min-width: auto;
    max-height: auto;
    max-width: auto;
    background: url("./assets/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  }

  .navigation .btnLogin-popup,
  .btnnavbar {
    width: 4rem;
    height: 1.5rem;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    margin-left: 0px;
    transition: 0.75s;
    text-decoration: none;
  }

  .phomeh1 {
    font-size: 1em;
  }

  .phome {
    font-size: 0.8em;
  }
  .wr {
    height: auto;
    width: auto;
    margin: 20px;
    padding: 10px;
    margin-top: 150px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: height 0.2s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    font-size: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 5px;
    padding: 10px;
  }
  a .btnnavbar {
    width: 30vh;
    height: auto;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.75s;
  }
  .wrapper {
    height: auto;
    width: 40svh;
    padding: 20px;
    margin: 30px;
    margin-top: 250px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: height 0.2s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .formh2 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .wrapperpdetails {
    height: 100%;
    width: 50%;
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .pdetails {
    width: 100%;
    padding-top: 0.7rem;
    padding-left: 1.5rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-items: left;
    align-items: flex-start;
    align-content: flex-start;
  }
}

/* Media query for tablet devices */
@media only screen and (max-width: 1024px) {
  header {
    padding: 30px;
    width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: auto;
    min-width: 100%;
  }
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    min-width: 100%;
    max-height: auto;
    max-width: auto;
    background: url("./assets/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  }

  .navigation .btnLogin-popup,
  .btnnavbar {
    width: 5rem;
    height: 2rem;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.7rem;
    color: white;
    margin: 0.2rem;
    margin-bottom: 0.8rem;
    transition: 0.75s;
    text-decoration: none;
  }

  .phomeh1 {
    font-size: 1.5rem;
  }

  .phome {
    font-size: 1rem;
  }
  .wr {
    height: auto;
    width: auto;
    margin: 20px;
    padding: 10px;
    margin-top: 200px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: height 0.2s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .navigation {
    width: 100%;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
  }
  .wrapper {
    height: auto;
    width: 40svh;
    padding: 20px;
    margin: 30px;
    margin-top: 250px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: height 0.2s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .formh2 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .wrapperpdetails {
    height: 100%;
    width: 50%;
    padding: 1.8rem;
    margin: 0.9rem;
  }
  .pdetails {
    width: 100%;
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-items: left;
    align-items: flex-start;
    align-content: flex-start;
  }
}

@media only screen and (min-width: 3840px) {
  header {
    position: fixed;
    top: 2rem;
    left: 0;
    width: 178svh;
    height: 20rem;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(4px);
    border-radius: 60px;
  }

  .navigation .btnLogin-popup,
  .btnnavbar {
    width: 40rem;
    height: 10rem;
    background: transparent;
    border: 10px solid white;
    outline: none;
    border-radius: 70px;
    cursor: pointer;
    font-size: 4em;
    color: white;
    margin: 0.2rem;
    margin-bottom: 0.8rem;
    transition: 0.75s;
  }

  .navigation .btnLogin-popup:hover,
  .btnnavbar:hover {
    background: white;
    color: #162938;
  }

  .navigation {
    width: 100%;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .selectmenu {
    display: flex;
    min-height: auto;
    min-width: auto;
    max-height: auto;
    max-width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
  }

  form {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .wr {
    height: 80%;
    width: 80%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 150px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: height 0.2s ease;
    margin-top: 150px;
    margin-bottom: 40px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .wrapper {
    height: auto;
    width: 90svh;
    padding: 150px;
    margin: 300px;
    margin-top: 550px;
    background: transparent;
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: height 0.2s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  .wrapper.active {
    height: auto; /* Adjust this value according to your requirements */
    width: auto;
  }

  .wrapper .form-box {
    width: 100%;
    margin: 0;
  }

  .formh2 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 10rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .input-box {
    position: relative;
    width: 100%;
    height: 10rem;
    border-radius: 100px;
    border-bottom: 4px solid black;
    margin: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }

  .input-row {
    display: flex;
  }

  .input-half {
    flex: 1;
    margin-right: 10px; /* Adjust this value as needed for spacing between inputs */
  }

  .input-box label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 4rem;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    opacity: 0.75;
  }

  .input-box input:focus + label,
  .input-box input:valid + label {
    top: -50px;
    color: white;
    opacity: 1;
    font-size: 5em;
    margin-top: -10px;
  }

  .input-box input {
    width: calc(100% - 40px); /* Adjust this value as needed for padding */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #162938;
    font-weight: 600;
    padding: 0px 35px 0 10px;
  }

  .input-box .icon {
    position: absolute;
    right: 18px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
    filter: invert(1);
  }

  .btn {
    width: 80%;
    height: 8svh;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 5em;
    color: #ffffff;
    font-weight: 500;
    border-radius: 100px;
    margin-top: 20px;
  }

  .btn:hover {
    text-decoration: none;
    color: white;
    background-color: green;
    width: 80%;
  }

  .login-register {
    font-size: 3em;
    color: #162938;
    text-align: center;
    margin: 25px 0 10px;
  }
  .login-register p {
    min-width: 100%;
    color: white;
    text-decoration: none;
    margin-top: 60px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .login-register a {
    color: yellow;
    text-decoration: none;
    font-weight: 600;
    padding-left: 60px;
  }

  .login-register p a:hover {
    text-decoration: underline;
  }

  .err {
    width: 80%;
    height: auto;
    font-size: 3rem;
    text-align: center;
    background-color: red;
    border-radius: 200px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
  }

  .phomeh1 {
    width: 80%;
    text-align: center;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .phome {
    margin: 20px;
    width: 100%;
    height: fit-content;
    text-align: justify;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hlist {
    list-style: none;
    margin: 5px;
    padding: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .logo {
    font-size: 6em;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 5px;
    padding: 10px;
  }
  .wrapperpdetails {
    height: 100%;
    width: 50%;
    padding: 10rem;
    margin: 5rem;
  }
  .pdetails {
    width: 100%;
    padding-top: 5rem;
    padding-left: 10rem;
    font-size: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-items: left;
    align-items: flex-start;
    align-content: flex-start;
  }
}
